.PlayerLister{
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1100px;
}
.PlayerLister img{
    max-width: 286px;
    height: 180px;
}
.PlayerLister > .card{
    justify-self: center;
}